.L-p4-project-img-container {
   min-width: 60%;
   height: 35vh;
   margin-top: 3vh;
   background: linear-gradient(to right, rgba(206 , 50, 89, .3) 0, rgba(206 , 50, 89, .3) 40%, rgba(206 , 50, 89, .3) 100%), url('../../images/project2.png');
   background-size: 36vw, 62vh;
   background-repeat: no-repeat;
   background-position: 0;
}

.p4-L-project-desc-box {
   position: absolute;
   width: 30vw;
   height: 32vh;
   left: 20.2vw;
   top: 697vh;
   padding-top: 2vh;
   padding-bottom: 2vh;
}