.navbar {
   background-color: #0a192f;
   width: 100vw;
   height: 8vh;
   position: fixed;
   z-index: 11;
   padding-top: 1vh;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.navbar-shadow {
   background-color: #0a192f;
   width: 100vw;
   height: 8vh;
   position: fixed;
   z-index: 11;
   padding-top: 1vh;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
}

.logo {
   height: 70%;
   margin-left: 1.2vw;
}

.logo:hover {
   scale: 1.1;
   cursor: pointer;
}

.nav-right {
   background-color: #0a192f;
   width: 45%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin-right: 2vw;
}

.nav-button {
   font-family: 'PoppinsReg';
   color: #75809B;
   font-size: 1vw;
}

.nav-button:hover {
   color: #CE3259;
   scale: 1.1;
   cursor: pointer;
}

.resume-button {
   height: 60%;
   width: 7vw;
   font-family: 'PoppinsReg';
   font-size: 1vw;
   border-style: solid;
   border-color: #CE3259;
   border-radius: 7px;
   border-width: .15vw;
   color: #CE3259;
   display: flex;
   align-items: center;
   justify-content: center;
}

.resume-button:hover {
   background-color: rgba(206, 50, 89, .2);
   cursor: pointer;
}