.projects-mobile {
   height: 200vh;
   width: 100vw;
   margin-top: 8vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.projects-box-mobile {
   height: 80%;
   width: 88vw;
   margin-top: 0;
}

.projects-title-box-mobile {
   display: flex;
   justify-content: flex-start;
   gap: 2vw;
   height: 7vh;
   align-items: center;
}

.projects-num-mobile {
   font-family: 'PoppinsSemiBold';
   color: #CE3259;
   font-size: 6vw;
}

.projects-title-text-mobile {
   font-family: 'PoppinsSemiBold';
   color: #CCD7F6;
   font-size: 6vw;
}

.projects-line-box-mobile {
   display: flex;
   flex-direction: column;
   width: 20.5vw;
   height: 100%;
}

.projects-line-mobile {
   height: 50%;
   border-bottom: 1px solid #75809B;
   width: 100%;
}