svg {
   width: 3vw;
   height: 3vh;
   color: #75809B;
}

.svg-icon {
   width: 3vw;
   height: 3vh;
}

.socials-mobile {
  width: 100%;
  height: 32vh;
  display: flex;
  flex-direction: column;
}

.social-icons-mobile {
   width: 100%;
   height: 70%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.social-line-mobile {
   width: 100%;
   height: 40vh;
   display: flex;
   flex-direction: row-reverse;
}

.line-mobile {
   margin-top: 2vh;
   width: 50%;
   border-left: 3px solid #75809B;
}
